/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
	--ion-color-primary: #2880b9;
	--ion-color-primary-rgb: 40, 128, 185;
	/* --ion-color-primary-contrast: #000000; */
	--ion-color-primary-contrast-rgb: 0, 0, 0;
	--ion-color-primary-shade: #2371a3;
	--ion-color-primary-tint: #3e8dc0;
}


@media (prefers-color-scheme: dark) {
	:root.ios ion-card-content ion-item {
		--ion-item-background: var(--ion-card-background)
	}
}
